.mainlogo { z-index:8; position: absolute; right: 1.5rem; top: 1.5rem; max-width: 112px; border: 0; }
.maintnc { 
  z-index:8; position: absolute; right: 1.5rem; bottom: 1.5rem;  text-align: right; text-transform: none;  @include DinNextLtProHeavy(); color: $black; font-size: 12px; line-height: 1;  letter-spacing: normal; @include outT(); text-decoration: none;
  &:hover { color: $white; text-decoration:underline; @include inT();  }
}
.hometnc { 
  z-index:8; position: absolute; right: 1.5rem; bottom: 1.5rem;  text-align: right; text-transform: none; @include DinNextLtProMedium();  color: $white; font-size:12px; line-height: 1;  letter-spacing: normal; @include outT(); text-decoration: none;
  &:hover { color: $white; text-decoration: underline; @include inT();  }
}



@media only screen and (max-width:1565px) 
{
  .mainlogo { right: 1rem; top: 1rem; max-width: 100px; }
}
 
@media only screen and (max-width:1255px) 
{

  .mainlogo { right: 0.7rem; top: 0.7rem; max-width: 90px; }
  .maintnc { right: 1rem; bottom: 1rem;  }
  .hometnc { right: 1rem; bottom: 1rem; }
 
 
}

@media only screen and (max-width:1023px) 
{
    .mainlogo { max-width: 70px; }
    
}



@media only screen and (max-width:479px) 
{
  .mainlogo { right: 0.5rem; top:0.5rem;  max-width: 60px; }
  .maintnc { right: 0.7rem; bottom: 0.7rem; }
  .hometnc { right: 0.7rem; bottom: 0.7rem; }
  
}



@media only screen and (min-width:500px) and (max-width:1000px) and (orientation : landscape) 
{
   
  .mainlogo { max-width: 60px; }

}