.mainlogo { z-index:8; position: absolute; right: 1.5rem; top: 1.5rem; max-width: 112px; border: 0; }
.maintnc, .hometnc { 
  z-index:8; position: absolute; right: 1.5rem; bottom: 1.5rem;  text-align: right; text-transform: none;  @include DinNextLtProMedium(); color: $black; font-size: 12px; line-height: 1;  letter-spacing: normal; @include outT(); text-decoration:underline;
  &:hover { color: $white; text-decoration: none; @include inT();  }
}
.hometnc { 
   color: $white; font-size:12px;  
  &:hover { color: $white;    }
}

.homenotapplicable, .mainnotapplicable {  z-index:8; position: absolute; right: -6%; bottom: 40%; transform: rotate(-90deg); text-align: left; @include DinNextLtProMedium();  color: $white; font-size:12px; line-height: 1;  letter-spacing: normal; }
.mainnotapplicable {  color: $black; }

@media only screen and (max-width:1681px) 
{
  .homenotapplicable, .mainnotapplicable { right: -7%; bottom: 36%;   }
}


@media only screen and (max-width:1565px) 
{
  .mainlogo { right: 1rem; top: 1rem; max-width: 100px; }
  .homenotapplicable, .mainnotapplicable { right: -8%; bottom: 38%;   }
}

@media only screen and (max-width:1300px) 
{
  .homenotapplicable, .mainnotapplicable { right: -7%; bottom: 37%;   }
}
 
@media only screen and (max-width:1255px) 
{

  .mainlogo { right: 0.7rem; top: 0.7rem; max-width: 90px; }
  .maintnc, .hometnc { right: 1rem; bottom: 1rem; }
  .homenotapplicable, .mainnotapplicable { right: -11%; bottom: 35%;  }
 
}

@media only screen and (max-width:1023px) 
{
    .mainlogo { max-width: 70px; }
    .maintnc, .hometnc { font-size: 10px; }
    .homenotapplicable, .mainnotapplicable { right: auto; left: 1rem; bottom: 1rem; transform: none; font-size: 10px;  }
}

 

@media only screen and (max-width:479px) 
{
  .mainlogo { right: 0.5rem; top:0.5rem;  max-width: 60px; }
  .maintnc, .hometnc { right: 0.5rem; bottom: 0.5rem; }
  .homenotapplicable, .mainnotapplicable { right: auto; left: 0; bottom: 2rem; transform: none; width: 100%; text-align: center; }
}



@media only screen and (min-width:500px) and (max-width:1000px) and (orientation : landscape) 
{
  .mainlogo { max-width: 60px; }
 
}