$black : #000000;
$black2 : #070910;
$black3 : #A1A1A1;
 

$white : #ffffff;
$white2 : #9fa2ad;
$white3 : #bbbbbb;
$white4 : #a5a5a6;

$red : #b2060c;


$green : #78963e;
$green2 : #7c9e41;

$blue : #1a223c;
 
 