$black : #000000;
$black2 : #070910;
$black3 : #A1A1A1;
 

$white : #ffffff;
$white2 : #9fa2ad;
$white3 : #bbbbbb;
$white4 : #a5a5a6;
$white5 : #d0d0d0;

$red : #b2060c;

$brown : #644b37;
$brown2 : #7f644e;

$green : #78963e;
$green2 : #7c9e41;
$green3 : #59e642;

$blue : #1a223c;
$blue2 : #232e50;
 