* { margin:0; padding:0; box-sizing:border-box; line-height:1; } 
@import "_var.scss";
@import "_mixin.scss"; 
@import "_fonts.scss"; 
@import "_normalize.scss";
@import "_loader.scss";
@import "_popup.scss";
@import "_logo-tnc.scss";
@import "_body.scss";
 
.main {  position: relative; width: 94%; max-width: 1800px;  float:none; margin:2rem auto; padding:0; border-radius: 25px; background: url('../images/home-main-bg-desktop.jpg') no-repeat center center; background-size:cover;   @include fCC(); flex-wrap: wrap;   box-shadow:0px 10px 10px 10px rgba(0,0,0,0.5);
  }

.mainwrapper { min-height: calc(100vh - 4rem); padding:3rem 4rem; width: 100%; float:left; @include fBC(); flex-wrap: wrap; flex-direction: column; }

.home-header { 
    width: 100%;  float:left; text-align: center;
    img { width: 100%; max-width:1380px; float:none; margin: 0 auto; border: 0; margin-left: 1rem; }
    .home-header-web { display: inline-block; }
    .home-header-ipad { display: none; }
    .home-header-mob { display: none; }
}
 
.home-footer { 
    width: 100%;  float:left; text-align: center; @include fCC();
    a { 
      display:block; float: left; width: auto; background: url('../images/home-footer-bg.png') no-repeat left top; background-size: cover;  box-shadow:0px 10px 10px 10px rgba(0,0,0,0.3); @include outT(); border-radius: 10px; padding: 1rem 2rem; margin: 0 0.4rem;  text-transform: uppercase;  @include DinNextLtProBold(); font-weight: 500; color: $white; font-size: 19px; line-height: 1;  letter-spacing: 1px; @include outT(); text-decoration: none;
      &:hover { @include inT(); }
    }
}

@media only screen and (max-width:1681px) 
{
  .home-header { 
      img { max-width: 1160px; }
  } 
}
@media only screen and (max-width:1565px) 
{
  .mainwrapper {  padding:3rem;  }
  .home-header { 
      img { max-width: 970px; }
  } 
}

@media only screen and (max-width:1300px) 
{
  .home-header { 
    img { max-width: 880px; }
  } 
  .home-footer { 
      a { 
         border-radius: 5px; padding:0.8rem 1rem; margin: 0 0.3rem;  font-size: 16px; letter-spacing: normal;  
      }
  }
 
}

@media only screen and (max-width:1255px) 
{
  .home-header { 
    img { max-width: 820px; }
  } 
 
}
 
@media only screen and (max-width:1023px) 
{
    .main { width: 94%;  background:#0f0a11 url('../images/home-main-bg-ipad-portrait.jpg') no-repeat top center;  background-size:100% auto; border-radius: 20px;   }
    
    .home-header { 
      img { max-width: 100%; margin-left: 0; }
    } 
    .home-footer { 
        flex-direction: column;
        a { 
          min-width: 370px;
           margin: 0.4rem 0;
        }
    }
    
    .mainwrapper {  padding:3rem 2rem; }
}

@media only screen and (max-width:767px) 
{
    .main { width: 96%;  }
 
}
@media only screen and (max-width:479px) 
{
    .main { float: left; width: 94%; margin:1rem 3%; padding: 0;  border-radius: 15px;  background:#6c8b86 url('../images/home-main-bg-mobile.jpg') no-repeat center bottom;  background-size:100% auto;  }
    .mainwrapper {  float: left; width: 100%; min-height: calc(100vh - 2rem);  padding:2rem 1rem 3.5rem 1rem; margin: 0; overflow: hidden;  }
    .home-header { 
      img { width: 100%; max-width: 80%;  }
      .home-header-web { display: none; }
      .home-header-ipad { display: none;}
      .home-header-mob { display: inline-block;}
    } 
    .home-footer { 
      flex-direction:column;
      a { 
         min-width:280px;  font-size: 12px; margin:0.3rem 0; padding: 0.6rem;
      }
    }
}

 
 



@media only screen and (min-width:500px) and (max-width:1000px) and (orientation : landscape) 
{
  .main { margin:1rem auto; background:#18101b url('../images/home-main-bg-ipad-landscape.jpg') no-repeat center center;  background-size:100% 100%;  }
  .home-header { 
    img { max-width: 75%; }
    .home-header-web { display: none; }
    .home-header-ipad { display: inline-block;}
  } 
  .home-footer { 
      flex-direction:row;
      a { 
        min-width: 48%; width: 48%; font-size: 14px; margin:0 0.3rem; padding: 0.5rem;
      }
  }
  .mainwrapper { min-height: calc(100vh - 2rem);  padding:1rem 1rem 3rem 1rem; }

}
 
